<div class="header_row text-white">
  <div class="header_left_row">
    <img class="logo_icon" src="../../../assets/seven.png" alt="logo" />
    <span class="bankName"> Bank </span>
  </div>
  <div class="header_right_row">
    <img class="email_icon" src="../../../assets/email.png" alt="email" />
    <img
      class="notification_icon"
      src="../../../assets/icons8-notification-96.png"
      alt="notification"
    />
    <img class="menu_icon" src="../../../assets/menu.png" alt="menu" />
    <div class="profile_section">
      <span>David Gilmorous</span>
      <img
        class="dropdown_icon"
        src="../../../assets/icons8-down-arrow-64.png"
        alt=""
      />
    </div>
  </div>
</div>
