<div class="main text-white">
  <div class="heading">
    <span>Current account</span>
  </div>
  <div class="current_account_container">
    <div class="amount_payment_container">
      <div class="amount_container">
        <span> $ 270 651.<span class="after_decimal_value">42</span> </span>
      </div>
      <div class="payment_btn_row">
        <div class="payment_btn card">
          <span>Make a Payment</span>
        </div>
        <div class="requisites_btn card">
          <span>Requisites</span>
        </div>
      </div>
    </div>
    <div class="task_container_desktop">
      <div class="red_dot"></div>
      <span class="total_task">3 tasks</span>
      <span class="task_desc"> in the amount of $910</span>
    </div>
  </div>
  <div class="footer_container">
    <div class="task_container">
      <span>Tasks</span>
      <div class="task_count_container"><span>3</span></div>
    </div>
    <div class="analytics_container">
      <img src="../../../assets/analytics.png" alt="" />
      <span>Analytics</span>
    </div>
  </div>
</div>
