<div class="main">
  <div class="payment_container">
    <span class="payment_heading">Payments</span>
    <span class="last_week">last week</span>
    <img src="../../../assets/icons8-down-arrow-64.png" alt="down_arrow" />
  </div>
  <div class="filter_container">
    <img src="../../../assets/filter.png" alt="filter" />
    <span>Filter</span>
  </div>
  <div class="income_outcome_container">
    <div class="income_container">
      <span class="income_heading">Income</span>
      <span class="income_amount">$ 255 007</span>
    </div>
    <div class="outcome_container">
      <span class="outcome_heading">Outcome</span>
      <span class="outcome_amount">$ 5 359</span>
    </div>
    <div class="analytics_container">
      <img src="../../../assets/icons8-down-arrow-64.png" alt="" />
      <span>Show analytics</span>
    </div>
  </div>
</div>
